<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.austin.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="priv.austin.entity.StudentPO">
            <id property="studentId" column="STUDENT_ID" jdbcType="DECIMAL"/>
            <result property="studentName" column="STUDENT_NAME" jdbcType="VARCHAR"/>
            <result property="age" column="AGE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        STUDENT_ID,STUDENT_NAME,AGE
    </sql>
</mapper>
